.header {
    background-color: #4682B4;
    color: #ffffff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 60px;
  height: auto;
  margin-right: 0.75rem;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 5px;
}

.app-name {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.navbar a:hover {
  opacity: 1;
}
