.header {
  background-color: #3f51b5;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  background-color: white;
  color: #3f51b5;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.app-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.logo-image {
  width: 60px;   
  height: auto;  
  margin-right: 0.75rem;
  border-radius: 5px;
}
