.header {
  background-color: #3f51b5;
  color: #3f51b5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 60px;
  height: auto;
  margin-right: 0.75rem;
  background-color: #000000;
  border-radius: 50%;
  padding: 5px;
}

.app-name {
  color: #020000;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: #020000;
  text-decoration: none;
  font-weight: 500;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.navbar a:hover {
  opacity: 1;
}
